<%- include('./header.ejs') %>
 <!-- Login Form -->
 <div class="container">
    <div class="row">
      <h1 class="text-center mt-5 fst-italic">Login Now</h1>
    <div class="col-md-6 mt-4 mb-5">
      <img
        class="w-100"
        src="images/Tiny technicians repairing smartphone.jpg"
        alt="poster"
      />
    </div>
    <div class="col-md-6 mt-4 mb-5">
      <div class="border border-dark stylish-rounded shadow p-3">
        <form action="/verifylogin" method="post">
          <div class="mb-3">
              <label>Email</label>
              <input type="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
              <label>Password</label>
              <input type="password" name="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-success"> Submit</button>
      </form>
     
      </div>
      <br>
     
    </div>
    </div>
  </div>
    <!-- Login Form -->