<%- include('./header.ejs') %>
<%- include('./sidebar.ejs')%>
<div class="content-wrapper">
    <!-- Content Header (Page header) --> 
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">Engineer List</h3>
          <button data-toggle="modal" data-target="#modal-default" class="btn btn-success" style="float: right;">Add Engineer</button>
        </div>
        
        <!-- /.card-header -->
        <div class="card-body">
         
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>              
              <th>Name</th>
              <th>Action</th> 
            </tr>
            </thead>
            <tbody>
            <% eng.forEach((item)=>{ %>
              <tr>
                 
                
                  
                <td><%= item.name%></td>
                
                <td>
                  <a href="" class="btn btn-success">View</a>
                  <a href="" class="btn btn-info">Edit</a>
                  <a href="" class="btn btn-danger">Delete</a>
                 

                 
                </td>
              </tr>
              <% }) %>                     
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!--Modal tag Start -->
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Engineer</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/engineer/insertengineer" method="post" >
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="name" class="form-control" required>
                </div>
               


                <button class="btn btn-success" type="submit">Submit</button>
              </form> <!--Form end-->
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <!-- /.card -->
    </div>

<%-include('./footer.ejs') %>