*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: brown;
    

}
@media print {
    h1 {
        color: black;
        font-size: 18px;
        font-weight: bold;
    }
    span {
        color: black;
        font-size: 15px;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 15px;
        text-align: justify;
    
    }
          
    .bill {
        
       text-align: justify;
    }
    p{
        font-size: 13px;
        font-weight: bolder;
        margin: 5px;
    }
    button{
        display: hidden;
    }
}